.current-track-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  height: 100vh;
}

.current-track-loading {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
}

.current-track-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 60%;
  max-height: 600px;
  margin-right: 1em;
  align-self: center;
  align-items: flex-end;
}

.current-track-artist {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: 4vw;
  text-transform: uppercase;
  text-align: right;
}

.current-track-title {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 2vw;
  font-style: italic;
  margin-bottom: 2em;
  text-align: right;
}

.current-track-image {
  height: 60%;
  max-height: 600px;
  margin-left: 1em;
  align-self: center;
}

.current-track-status {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: 1.25vw;
  text-transform: uppercase;
  border-style: solid none solid none;
  border-color: white;
  margin-bottom: 1em;
}

.offline-status {
  display: flex;
  flex-direction: column;
}

.refresh {
  filter: invert(1);
  height: 50px;
  width: 50px;
}

