.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.home-container a {
  text-decoration: none;
}

h1 {
  font-size: 4em;
}

@media only screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .currentlyPlaying {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 250px;
  }

  .currentlyPlaying > span {
    margin-right: 30px;
  }

  .trackArt {
    max-height: 100%;
    width: 12.5%;
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .cards > div {
    margin-bottom: 30px;
  }

  .currentlyPlaying {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 450px;
  }

  .currentlyPlaying > span {
    margin-bottom: 15px;
  }

  .trackArt {
    width: 200px;
    height: 200px;
  }

  .trackInformation {
    text-align: center;
  }

  .trackArtist {
    word-wrap: break-word;
  }
}

.trackInformation {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.trackArtist {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.5em;
}

.sectionHeader {
  font-weight: 600;
  font-size: 4em;
  text-align: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 25px;
  align-items: center;
  padding: 20px;
}