.topnav {
  overflow: hidden;
  background-color: #121212;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  z-index : 1
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: black;
}

.topnav-right {
  float: right;
}

.topnav svg {
  display: block;
  filter: invert(1)
}
