.recent-tracks-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  margin-left: 15px;
  margin-right: 15px;
}

.recent-tracks-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.recent-tracks-info-list {
  display: flex;
  flex-direction: column;
}

.recent-tracks-info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}