@media only screen and (min-width: 768px) {
  .recent-tracks-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100vh;
    padding: 15px
  }

  .recent-tracks-container > div {
    width: 45%;
    height: 75%;
  }

  .recent-tracks-container > .recent-tracks-info-container {
    margin-right: 15px;
  }

  .recent-tracks-container > .list-container {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .recent-tracks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 15px;
  }

  .recent-tracks-container > div {
    width: 100%;
    height: 50%;
  }

  .recent-track-stat {
    margin-bottom: 30px;
  }

  .recent-tracks-container .list-container {
    height: 500px;
  }
}


.recent-tracks-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.recent-track-stat {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-style: solid none solid none;
  border-color: #535353;
  background-color: #121212;
}

.recent-track-stat-header {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: 4em;
  text-transform: uppercase;
  justify-self: center;
  text-align: center;
}

.recent-track-section-header {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: 1.75em;
  width: 50%;
  align-self: center;
  text-align: center;
}

.recent-tracks-info-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.recent-tracks-info-list > span {
  font-size: 1.25em;
}

.recent-tracks-loading {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
}

.recent-tracks-album-image {
  min-width: 2em;
  max-width: 2em;
  min-height: 2em;
  max-height: 2em;
  margin: 5px;
}

.recent-tracks-album-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.25em;
}

.recent-tracks-album-title:hover {
  overflow: visible;
  z-index: 1;
}

.recent-tracks-album {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
