.recent-tracks-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
}

.recent-track-list-container {
  display: flex;
  flex-direction: column;
  height: 75%;
  overflow: scroll;
  overflow-x: hidden;
  border-style: none none solid none;
  border-color: #535353;
  margin: 15px;
}

.recent-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid none none none;
  border-color: #535353;
}

.recent-track-image {
  width: 75px;
  height: 75px;
  margin: 15px;
}

.recent-track-info {
  margin-left: 15px;
  align-items: center;
}