.side-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.side-project-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-weight: 600;
  font-size: 3em;
  justify-content: space-between;
}

.side-project-icons {
  display: flex;
  flex-direction: row;
}

.side-project-image-grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  grid-gap: 30px;
  margin-top: 30px;
}