.stat-panel-container {
  display: flex;
  flex-direction: column;
}

.record-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.record-info-container {
  display: flex;
  flex-direction: column;
}

.record-image {
  max-width: 100%;
  max-height: 150px;
}

h2 {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  text-transform: uppercase
}

p {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}

.results-form-container {
  display: flex;
  flex-direction: row;
}